@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);

a{
	color: #ccd500;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color: #a9b119;
}
.clear {
    clear: both;
}


html {
    position: relative;
    min-height: 100%;
}
body {
	color: #737172;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: black;
}
b{
	font-weight: 600;
}

div#logo {
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color:#fff;
}

div#topLine, div#bottomLine, div#pinkLine1, div#pinkLine2, div#pinkLine3, div#pinkLine5, div#pinkLine6, div#pinkLine7, div#pinkLine8 {
	width:100%;
	height:4px;
	background-color:#f04684;
}

div#whiteLine1, div#whiteLine2, div#whiteLine3, div#whiteLine4, div#whiteLine5, div#whiteLine6, div#whiteLine7, div#whiteLine8 {
	width:100%;
	height:4px;
	background-color:#fff;
}

/* Titulos
-------------------------------------------------------------------------*/
h1{
	width: 100%;
	color: #000000;
	font-size: 40px;
	margin-bottom: 25px;
}
h2{
	color: #737172;
    display: table-cell;
    float: left;
    font-size: 28px;
    margin: 20px 0 20px;
    text-align: center;
    width: 100%;
    font-weight: 200;
}
h2 span{
	font-weight: 300;
}
h3{
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
	color: white;
	font-size:40px;
	font-family: 'Lato', 'sans-serif';
	font-weight: 300;
}
h4{
	color: #ffffff;
    display: table-cell;
    float: left;
    font-size: 35px;
    line-height: 31px;
    margin: 0 0 0;
    text-align: center;
    width: 100%;
    font-weight: 400;
}

span.highlight {
	color: #f04684;
	font-weight: 600;
}

p.title{
	color: #000000;
    display: table-cell;
    float: left;
    font-size: 45px;
    line-height: 40px;
    margin: 0 0 50px;
    text-align: center;
    width: 100%;
    font-weight: 300;
}

.grey {	color:#444;}

.btn {
  background: #737172;
  background-image: -webkit-linear-gradient(top, #737172, #f04684);
  background-image: -moz-linear-gradient(top, #737172, #f04684);
  background-image: -ms-linear-gradient(top, #737172, #f04684);
  background-image: -o-linear-gradient(top, #737172, #f04684);
  background-image: linear-gradient(to bottom, #737172, #f04684);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 6px 24px 6px 27px;
  text-decoration: none;
}

.btn:hover {
  background: #f04684;
  background-image: -webkit-linear-gradient(top, #f04684, #737172);
  background-image: -moz-linear-gradient(top, #f04684, #737172);
  background-image: -ms-linear-gradient(top, #f04684, #737172);
  background-image: -o-linear-gradient(top, #f04684, #737172);
  background-image: linear-gradient(to bottom, #f04684, #737172);
  text-decoration: none;
  color: #ffffff;
}

div#button {
	padding-bottom:19px;
	text-align:center;
}
/* INICIO
-------------------------------------------------------------------------*/
#header{
	margin: 0 auto 0;
	width: 100%;
	position: absolute;
	text-align: center;
	top: 0px;
	background-color: #6C5726;
	overflow: hidden;
	position: relative;
	padding: 50px 0px;
    border-top: 10px solid #A48E4E;
    border-bottom: 10px solid #A48E4E;
}
#header table, #footer table{
	height: 100%;
	width: 100%;
}
#header table td, #footer table td{
	vertical-align: middle;
}
#header .content{
	color: #FFFFFF;
    float: left;
    font-size: 50px;
    font-weight: 300;
    line-height: 42px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}
#header .content, #footer .content{
	font-family: 'Pathway Gothic One';
	color: #ffffff;
    float: left;
    font-size: 70px;
    font-weight: 300;
    line-height: 80px;
    margin-top: 2px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    padding: 30px 0px;
}
#header .content > div, #footer .content > div{
	display: inline-block;
}

#footer{
	width:100%;
	background-color: #6C5726;
	border-top: 20px dotted #A48E4E;
	height: 200px;
}


.line{
	background-color: #DCD293;
	padding: 50px 0px 25px 0px;
	width:100%;
	border-top: 20px dotted #A48E4E;
}

.container {
	width: 1310px;
	padding-left:0px;
	padding-right:0px;
}

.textArea {
	height: 494px;
	font-size:24px;
	overflow:hidden;
}

.machineContainer{
	background-color: #f04684;
	padding: 5px 0px 5px 0px;
 	overflow: hidden;
	height: 424px;
	width: 1340px;
}
.slotMachine{
	width: 32.333333%;
	/*border: 5px solid #000;*/
	height: 300px;
	padding: 0px;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	/*margin: 0px 5px;*/
	/*border: 5px solid #000;*/
	background-color: #ffffff;
}
.machineResult{
	color:#737172;
	background-color:#fff;
	padding-top:8px;
	text-align:center;
	font-weight: 600;
	height:124px;
}
.noBorder{
	border:none !important;
	background: transparent !important;
}
.slotMachine .slot{
	height:300px;
	background-position-x: 55%;
	background-repeat: no-repeat;
}
.slot1A{
	background-image: url("../img/slot1A.png");
}
.slot2A{
	background-image: url("../img/slot2A.png");
}
.slot3A{
	background-image: url("../img/slot3A.png");
}
.slot4A{
	background-image: url("../img/slot4A.png");
}
.slot5A{
	background-image: url("../img/slot5A.png");
}

.slot1B{
	background-image: url("../img/slot1B.png");
}
.slot2B{
	background-image: url("../img/slot2B.png");
}
.slot3B{
	background-image: url("../img/slot3B.png");
}
.slot4B{
	background-image: url("../img/slot4B.png");
}
.slot5B{
	background-image: url("../img/slot5B.png");
}

.slot1C{
	background-image: url("../img/slot1C.png");
}
.slot2C{
	background-image: url("../img/slot2C.png");
}
.slot3C{
	background-image: url("../img/slot3C.png");
}
.slot4C{
	background-image: url("../img/slot4C.png");
}
.slot5C{
	background-image: url("../img/slot5C.png");
}

.slot6A{
	background-image: url("../img/slot6A.png");
}
.slot7A{
	background-image: url("../img/slot7A.png");
}
.slot8A{
	background-image: url("../img/slot8A.png");
}
.slot9A{
	background-image: url("../img/slot9A.png");
}
.slot10A{
	background-image: url("../img/slot10A.png");
}

.slot6B{
	background-image: url("../img/slot6B.png");
}
.slot7B{
	background-image: url("../img/slot7B.png");
}
.slot8B{
	background-image: url("../img/slot8B.png");
}
.slot9B{
	background-image: url("../img/slot9B.png");
}
.slot10B{
	background-image: url("../img/slot10B.png");
}

.slot6C{
	background-image: url("../img/slot6C.png");
}
.slot7C{
	background-image: url("../img/slot7C.png");
}
.slot8C{
	background-image: url("../img/slot8C.png");
}
.slot9C{
	background-image: url("../img/slot9C.png");
}
.slot10C{
	background-image: url("../img/slot10C.png");
}

.slot11A{
	background-image: url("../img/slot11A.png");
}
.slot11B{
	background-image: url("../img/slot11B.png");
}
.slot11C{
	background-image: url("../img/slot11C.png");
}

#textMachine, #textMachine2{
	width:520px;
	height: 67px;
	overflow: hidden;
	display: inline-block;
	text-align: left;
}
#textMachine > *, #textMachine2 > *{
	padding: 0px 0px;
}

.slotMachineButton{
	width:100px;
	height: 100px;
	overflow: hidden;
	display: inline-block;
	text-align: center;
}
.slotMachineButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	border-radius: 75px;
	text-indent:0px;
	border:6px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-size:40px;
	font-weight:bold;
	font-style:normal;
	height:100px;
	line-height:90px;
	margin-top:10px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
	cursor:pointer;
}
.slotMachineButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.slotMachineButton:active {
	position:relative;
	top:1px;
}

