<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css}"
	type="text/css" media="screen" />
<link rel="stylesheet" th:href="@{css/style.css}" type="text/css"
	media="screen" />
<script type="text/javascript"
	th:src="@{//code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.slotmachine.min.js}"></script>
</head>
<body>

	<img th:src="@{/img/logo.png}"/>
	
	<p th:text="${question.question}">Question Text</p>

	<div class="content container" style="text-align: center">

		<h1>Press Go! to calculate your suggested payment amount.</h1>

		<div class="row">
			<div class="machineContainer">
				<div id="machine1" class="slotMachine">
					<div class="slot slot1"></div>
					<div class="slot slot2"></div>
					<div class="slot slot3"></div>
					<div class="slot slot4"></div>
					<div class="slot slot5"></div>
				</div>

				<div id="machine2" class="slotMachine">
					<div class="slot slot1"></div>
					<div class="slot slot2"></div>
					<div class="slot slot3"></div>
					<div class="slot slot4"></div>
					<div class="slot slot5"></div>
				</div>

				<div id="machine3" class="slotMachine">
					<div class="slot slot1"></div>
					<div class="slot slot2"></div>
					<div class="slot slot3"></div>
					<div class="slot slot4"></div>
					<div class="slot slot5"></div>
				</div>

				<div id="machine1Result" class="col-xs-4 machineResult">€
					0</div>
				<div id="machine2Result" class="col-xs-4 machineResult">.
					1</div>
				<div id="machine3Result" class="col-xs-4 machineResult">
					2</div>
			</div>


		</div>

	</div>

			<div class="content text-center">
				<div id="slotMachineButton1" class="slotMachineButton">GO!</div>
			</div>
	<script>
			$(document).ready(function(){
				var machine1 = $("#machine1").slotMachine({
					active	: 0,
					delay	: 500,
				});
				
				var machine2 = $("#machine2").slotMachine({
					active	: 1,
					delay	: 500
				});
				
				var machine3 = $("#machine3").slotMachine({
					active	: 2,
					delay	: 500
				});
				
				machine2.setRandomize(function(){
					return 3;
				});
				
				function onComplete(active){
					switch(this.element[0].id){
						case 'machine1':
							$("#machine1Result").text("€"+this.active);
							break;
						case 'machine2':
							$("#machine2Result").text("."+this.active);
							break;
						case 'machine3':
							$("#machine3Result").text(this.active);
							break;
					}
				}
				
				machine1.shuffle(5, onComplete);
				
				$("#slotMachineButton1").click(function(){
					
					machine1.shuffle(5, onComplete);
					
					setTimeout(function(){
						machine2.shuffle(5, onComplete);
					}, 500);
					
					setTimeout(function(){
						machine3.shuffle(5, onComplete);
					}, 1000);
					
				})
			});
		</script>
		
</body>
</html>