<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Thank you</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css}"
	type="text/css" media="screen" />
<link rel="stylesheet" th:href="@{css/style.css}" type="text/css"
	media="screen" />
<script type="text/javascript"
	th:src="@{//code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.slotmachine.min.js}"></script>
</head>
<body>

<div id="whiteLine4"></div>
	<div id="topLine"></div>
	<div id="whiteLine3"></div>
	<div id="pinkLine3"></div>
	<div id="logo">
		<img th:src="@{/img/logo_300.png}"/>
	</div>
	<div id="bottomLine"></div>
	<div id="whiteLine1"></div>
	<div id="pinkLine1"></div>
	<div id="whiteLine2"></div>
	<div id="pinkLine2"></div>
	
	<div class="textArea" style="text-align: center; padding-top:24px;">
<p>We hope you enjoyed the questions!</p>
<p>***</p>
<p>App designed and developed by <strong>m</strong><span class="highlight">AR</span><strong>ke</strong><span class="highlight">T</span>:</p>

<p><span class="highlight">Siobhan Browne</span> | Folklore &amp; Ethnology and History</p> 

<p><span class="highlight">Larkin Cunningham</span> | Digital Humanities (UCC) &amp; Computing (CIT) | @LarkinDC</p> 

<p><span class="highlight">Pedro Fernandez</span> | Catalan Studies &amp; Digital Humanities | @pfdorado</p>

<p><span class="highlight">Jessica Jones</span> | Philosophy and Digital Humanities | @LoJo2013</p>

<p><span class="highlight">Isabelle Jouinot</span> | French and Applied Linguistics | @isabellejouinot</p>

<p><span class="highlight">Sarah Kelleher</span> | Art History</p> 

<p><span class="highlight">Nicholas O’Riordan</span> | Irish Film Studies| @nicholasor</p>

	</div>

				
	<div id="button">
		 <a class="btn" th:href="@{/}">RESTART</a>
	</div>
	
				<div id="bottomLine"></div>
				
	
				
	<div id="whiteLine5"></div>
	<div id="pinkLine5"></div>
	<div id="whiteLine6"></div>
	<div id="pinkLine6"></div>
	<div id="whiteLine7"></div>
	<div id="pinkLine7"></div>	

		
</body>
</html>